<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111559170901-qf6ag7pl4832rvr2qal0a8etk8736anu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111559170901-qf6ag7pl4832rvr2qal0a8etk8736anu</string>
	<key>API_KEY</key>
	<string>AIzaSyB0UJBaFFuLN_Qr4RPGcz-P2M5VaT6q6iY</string>
	<key>GCM_SENDER_ID</key>
	<string>111559170901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mohamed-osama.WEChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-18688</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-18688.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111559170901:ios:1976c42172972e9545eddc</string>
	<key>DATABASE_URL</key>
	<string>https://wechat-18688.firebaseio.com</string>
</dict>
</plist>